{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}新版标准日本语初级下册/阿飞老师/第二十五课" role="button">Let's dive into it</a>
      <p class="meta"><a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0 Licensed.</a> <a href="https://github.com/lightmon233/tellyou-nihongo">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">日语学习笔记</h2>
        <p>《新版标准日本语》教科书的学习笔记</p>
      </div>
       <div class="col-lg-5">
        <h2 class="h4">关于日语学习的博文</h2>
        <p>发表有关日语学习的帖子</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">友情推荐</h2>
        <p>推荐挖到的宝藏日语学习项目和工具</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">动漫</h2>
        <p>看番剧学日语</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">旮旯给木</h2>
        <p>推Galgame学日语</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">以及更多</h2>
        <p>前面的区域，以后再来探索吧！（PS: 我不玩原神）</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
